@*@using Microsoft.AspNetCore.Identity;
@using MediaRequest.WebUI.Models.IdentityModels
@inject UserManager<ApplicationUser> userManager;

@{
    var user = await userManager.GetUserAsync(User);
}*@

@using MediaRequest.WebUI.Models.IdentityModels
@model ApplicationUser

<div class="vertical-nav">
    <div class="vertical-nav-head">
        @if (Model.Avatar != null)
        {
            <div class="avatar">
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Avatar)" />
            </div>
        }
        else
        {

            <div class="avatar">
                <div class="avatar-background"></div>
                <img src="http://all4ed.org/wp-content/themes/all4ed/assets/images/avatar-placeholder-generic.png" />
                <i class="fas fa-camera"></i>
            </div>
        }

        <form hidden enctype="multipart/form-data" asp-controller="User" asp-action="UploadAvatar" method="post">
            <label asp-for="@Model.Avatar">Avatar</label>
            <input class="filebtn" type="file" name="image" />
            <input class="filesubmit" type="submit" value="Upload" />
        </form>

        <p class="username">Admin</p>
    </div>
    <ul class="vertical-nav-list">
        <li class="list-item"><a asp-action="Profile" asp-controller="User"><span>Profile</span><img class="icon" src="~/img/icons/user-solid.svg" /></a></li>
        <li class="list-item"><a asp-action="Requests"><span>Requests</span><img class="icon" src="~/img/icons/thumbs-up-solid.svg" /></a></li>
        <li class="list-item"><a asp-action="Upcoming" asp-controller="User"><span>Upcoming</span><img class="icon" src="~/img/icons/calendar-solid.svg"></a></li>
        <li class="list-item"><a href="#"><span>Settings</span><img class="icon" src="~/img/icons/cog-solid.svg"></a></li>
        <li class="list-item"><a href="#"><span>Admin</span><img class="icon" src="~/img/icons/crown-solid.svg"></a></li>
    </ul>
</div>

<script>
    $('.avatar').on('click', function () {
        $('.filebtn').click();
    })

    $('.filebtn').on('change', function () {
        $('.filesubmit').click();
    });
</script>