.admin-container {
  max-width: 1000px;
  margin: 5rem auto;
  align-items: center; }
  .admin-container .row {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .admin-container .card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    background: #f8f8f8; }
    .admin-container .card h1 {
      display: inline-block;
      font-size: 1.4rem; }
    .admin-container .card h2 {
      display: inline-block;
      font-size: 2.4rem; }
  .admin-container .card-sm {
    width: 30%; }
  .admin-container .card-lg {
    width: 100%; }

.invite-form {
  color: #222;
  padding: 1.5rem;
  /*border: 1px solid lightgray;*/
  margin-bottom: 2rem;
  background: #fefefe;
  display: flex;
  width: 100%;
  align-items: flex-start;
  border-radius: 5px;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16); }
  .invite-form label {
    display: block; }
  .invite-form .form-group {
    display: flex;
    width: 100%;
    margin-top: 1rem; }
    .invite-form .form-group .input-container {
      width: unset;
      flex-grow: 8; }
      .invite-form .form-group .input-container i:before, .invite-form .form-group .input-container input {
        color: #dadada; }
    .invite-form .form-group input {
      border: none;
      font-size: 1.2rem;
      border-radius: 5px; }
    .invite-form .form-group input[type="text"] {
      padding-left: 0.5rem 0.5rem 0.5rem 50px;
      /*background: #eee;*/
      -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.15); }
    .invite-form .form-group input[type="submit"] {
      flex-grow: 1;
      margin-left: 2rem; }

.user-list {
  font-size: 16px; }
  .user-list .user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    background: white;
    border-radius: 5px; }
    .user-list .user:not(:last-child) {
      margin-bottom: 1rem; }
    .user-list .user > h2 {
      font-size: 1.3rem; }
    .user-list .user .username-role {
      display: inline-block; }
      .user-list .user .username-role .avatar {
        margin-right: 1.5rem;
        height: 6vh;
        width: 6vh;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        display: inline-block;
        -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.35); }
      .user-list .user .username-role > div:nth-child(2) {
        display: inline-block; }
        .user-list .user .username-role > div:nth-child(2) > h1 {
          text-transform: capitalize;
          font-size: 1.5rem;
          display: block; }
        .user-list .user .username-role > div:nth-child(2) > span {
          display: block; }
    .user-list .user .button-container {
      padding: 1rem; }
      .user-list .user .button-container a {
        display: inline-block; }
      .user-list .user .button-container i {
        display: inline-block;
        width: 100%;
        height: 100%;
        margin: 0;
        font-size: 1.5rem; }
        .user-list .user .button-container i:before {
          width: 100%;
          height: 100%;
          margin: 0;
          font-size: 1rem; }
    .user-list .user * {
      display: inline-block;
      vertical-align: middle; }
  .user-list > h1 {
    margin: 0 0.5rem 1rem 0.5rem; }

.movie-container {
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  width: 100%;
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 1.5em;
  border-radius: 3px; }
  .movie-container > .movie-poster {
    margin-right: 3em;
    max-width: 150px;
    min-width: 100px;
    overflow: hidden;
    padding-bottom: 10px; }
    .movie-container > .movie-poster img {
      width: 100%;
      -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
  .movie-container > .movie-info {
    width: 100%; }
    .movie-container > .movie-info > .info > p {
      margin-top: 1rem; }
    .movie-container > .movie-info > .info > .badge-container {
      margin-bottom: 0.5rem; }
      .movie-container > .movie-info > .info > .badge-container h2, .movie-container > .movie-info > .info > .badge-container h6 {
        display: inline-block;
        vertical-align: baseline;
        margin-top: 5px;
        display: inline-block; }
    .movie-container > .movie-info > .button-container {
      margin-top: 1em; }
      .movie-container > .movie-info > .button-container li {
        display: inline-block;
        list-style: none; }
  .movie-container:hover {
    background: #f8f9fc; }

/*# sourceMappingURL=_adminpanel.css.map */
