$purple-main: hsl(280, 60%, 30%);
$purple-dark: hsl(280, 60%, 25%);
$purple-superlight: hsl(280, 60%, 95%);

$blue-main: hsl(225, 73%, 52%);
$blue-dark: hsl(225, 73%, 35%);
$blue-light: hsl(225, 73%, 95%);

$red-main: hsl(356, 91%, 58%);
$red-dark: hsl(356, 91%, 38%);
$red-light: hsl(356, 91%, 78%);

$green-main: hsl(130, 40%, 55%);
$green-dark: hsl(130, 40%, 45%);
$green-light: hsl(130, 40%, 65%);

$white-main: hsl(218, 43%, 98%);
$dark-main: hsl(0, 0%, 7%);

$transition-fast: 0.2s;
$transition-normal: 0.5s;
$transition-slow: 1s;