@import "_colors.scss";

input[type="text"], input[type="email"] {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 1.1rem;

    &:focus {
        -webkit-box-shadow: inset 0px 0px 5px 0px #e0e4ea;
        -moz-box-shadow: inset 0px 0px 5px 0px #e0e4ea;
        box-shadow: inset 0px 0px 5px 0px #e0e4ea;
    }
}

input#User_UserName {
    background: url(../img/user-regular.svg) no-repeat scroll;
    padding-left: 2.5rem;
    background-size: 16px;
    background-position: 0.5rem;
}

input[type="email"] {
    background: url(../img/envelope-regular.svg) no-repeat scroll;
    padding-left: 2.5rem;
    background-size: 20px;
    background-position:0.5rem;
}

.flex-container {
    display: flex;

    .form-section {
        flex-grow: 1;
    }
}

.align-right {
    text-align:right;
}