$input-padding: 0.5rem 1rem;
$input-group-border: 1px solid #eaeaea;

.base-form {
    margin-top: 1rem;
    font-size: 0.9rem;
    width: 100%;

    .form-section {
        margin-top:2rem;

        .form-group {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;

            label {
                flex: 1;
                border-radius: 0.5rem 0 0 0.5rem;
                padding: $input-padding;
                border: $input-group-border;
                border-right-color: #f7f7f7;
                background: #f7f7f7;
            }

            input {
                flex: 7;
                padding: $input-padding;
                border-radius: 0 0.5rem 0.5rem 0;
                border: $input-group-border;

                &:focus {
                    border-color: red;
                }
            }
        }
    }
}

.field-validation-error {
    position: absolute;
    margin-left: 1rem;

    &:before {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%; /* To the left of the tooltip */
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $red-main transparent transparent;
    }

    span {
        display: block;
        background: $red-main;
        padding: .7rem 1rem;
        color: white;
        border-radius: 0.25rem;
    }
}