.actor {
    transition: $transition-superfast;
}

.actor:hover {
    background:$grey-light!important;
    transition:$transition-superfast;
}

.loadmore {
    width: 100%!important;
    background: $grey-light;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
    transition: $transition-fast;

    &:hover {
        background: $grey-main;
        transition: $transition-fast;
    }

    > a {
        display: block;
        width: 100% !important;
        text-align: center;
        padding: 1rem;
    }
}

.cast {
    a:hover {
        text-decoration: none;
    }

    .actor {
        h1 {
            font-size: 1.2rem;
        }

        h2 {
            font-size: 1rem;
        }
    }

    > h1 {
        margin: 1rem 0;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .top-billed {
        flex-wrap: nowrap;

        a {
            flex:1;

            .actor {
                flex-direction: column;
                height: 100%;
                /*width: 100%;*/
                padding: 1rem;
                border-radius: 3px;
                background: #f9f9f9;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);

                &:not(:last-child) {
                    margin-right: 1rem;
                }

                img {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 1rem;
                    height: 228px;
                    object-fit: cover;
                    object-position: center;
                }

                &:hover {
                    background: $grey-light;
                }
            }

            &:not(:last-child) {
                margin-right:0.5rem;
            }
        }
    }

    .cast-list {
        /*justify-content: flex-start;*/
        a {
            width: 32%;

            .actor {
                height: 105px;
                width: 100%;
                margin-bottom: 1rem;
                background: #f9f9f9;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);

                &:not(:nth-child(3n)) {
                    margin-right: 0.5rem;
                }

                > .info {
                    display: inline-block;

                    h1 {
                        font-size: 1.1rem;
                    }

                    h2 {
                        font-size: 0.9rem;
                    }

                    > * {
                        display: block;
                    }
                }

                > img {
                    margin-right: 2rem;
                    height: 60px;
                    width: 60px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }
        }
    }

    .crew-list {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 48%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom:0.3rem;

            &:nth-child(2n) {
                margin-left: 2rem;
            }

            h2, h3 {
                display: inline-block;
            }

            h2 {
                font-size: 1.1rem;
                margin-right: 2rem;
            }

            h3 {
                font-size: 0.9rem;
            }
        }
    }
}

section.recommended {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;

    .recommended-movie-container {
        display:flex;
        flex-direction:column;
        align-items:center;
        width:20%;
        margin:0;
        padding:1rem;

        &:hover {
            text-decoration:none;
            background:#ddd;
        }

        .poster {
            width:100%;

            img {
                width:100%;
            }
        }

        .info {
            flex-grow:1;
        }
    }
}

#trailer-container {
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        margin-bottom:2rem;

        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:1000px) {
    .cast {
        .cast-list {
            justify-content:space-between;

            .actor {
                width: 49%;

                &:nth-child(even) {
                    margin-right: 0;
                }

                &:nth-child(odd) {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}