@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,700&display=swap");
@import url(_bootstrap.css);
@import url(_showmovie.css);
@import url(_adminpanel.css);
html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS'; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

p {
  line-height: 1.6rem;
  font-weight: 400; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: underline; }

body {
  font-size: 18px;
  margin-bottom: 5rem; }

.errormsg {
  opacity: 0.7; }

.hidden {
  display: none; }

.loading {
  width: 100%;
  padding: 4rem 0;
  text-align: center; }

.container {
  padding: 3rem 1rem;
  max-width: 1000px;
  margin: 0 auto; }

form .input-container {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 100%; }
  form .input-container i, form .input-container input {
    display: inline-block; }
  form .input-container i {
    margin-left: -4px;
    padding: 0.8rem;
    position: absolute;
    left: 10px;
    color: #f8f9fc; }
  form .input-container input {
    background: #1a1a1a;
    border: 0;
    padding: 0.8rem 0.8rem 0.8rem calc(2.5rem + 10px);
    border-radius: 0.25rem;
    color: #f8f9fc;
    font-weight: 700;
    font-size: 1rem;
    width: 100%; }
  form .input-container input, form .input-container label {
    display: inline-block; }

nav.navbar {
  width: 100%;
  background: #121212;
  /*padding: 1.5rem 0;*/
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 999;
  position: fixed;
  top: 0; }
  nav.navbar .nav-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    height: 100%; }
    nav.navbar .nav-container a {
      padding: 1.5rem; }
    nav.navbar .nav-container a, nav.navbar .nav-container span {
      text-decoration: none;
      color: white; }
    nav.navbar .nav-container .nav-item-container ul {
      display: flex;
      flex-direction: row;
      height: 100%; }
      nav.navbar .nav-container .nav-item-container ul li {
        height: 100%;
        display: block;
        list-style: none;
        /*display: inline-block;*/
        padding: 1.5rem 0; }
        nav.navbar .nav-container .nav-item-container ul li:hover {
          background: #f5323f; }
        nav.navbar .nav-container .nav-item-container ul li:not(:last-child) {
          margin-right: -5px; }

.SearchPartialContainer {
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
  flex-grow: 10 !important; }
  .SearchPartialContainer form {
    width: 100%; }

main {
  min-height: 100vh;
  background: #f2f2f2; }
  main .movie-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 65vh;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 37px 29px -29px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 37px 29px -29px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 37px 29px -29px rgba(0, 0, 0, 0.47); }
    main .movie-hero .movie-hero-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      top: 25vh;
      left: 15vw;
      z-index: 3;
      max-width: 80vw;
      width: 60%;
      align-items: center;
      padding: 0 1rem;
      min-width: 768px; }
      main .movie-hero .movie-hero-content > .movie-hero-poster {
        max-width: 300px; }
        main .movie-hero .movie-hero-content > .movie-hero-poster img {
          width: 100%;
          -webkit-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75); }
      main .movie-hero .movie-hero-content > .text-body {
        max-width: 400px; }
        main .movie-hero .movie-hero-content > .text-body h1, main .movie-hero .movie-hero-content > .text-body p {
          color: #f8f9fc; }
        main .movie-hero .movie-hero-content > .text-body p {
          font-size: 1.1rem;
          color: #dbe3f0; }
        main .movie-hero .movie-hero-content > .text-body h3 {
          color: #b6c6e2; }
        main .movie-hero .movie-hero-content > .text-body .button-container {
          margin-top: 2em; }
    main .movie-hero > .gradient {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.7;
      z-index: 2; }
    main .movie-hero > .background {
      background: #222;
      filter: brightness(30%);
      position: absolute;
      width: 100%;
      width: 100%;
      height: 100%;
      z-index: 1; }
      main .movie-hero > .background img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover; }
  main .movie-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 3rem 1rem; }
    main .movie-list-container .movie-list-header {
      margin-bottom: 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      main .movie-list-container .movie-list-header > * {
        display: inline-block; }
    main .movie-list-container .movie-container {
      padding: 1.5em;
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      width: 100%;
      background: white;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
      margin-bottom: 1.5em;
      border-radius: 3px; }
      main .movie-list-container .movie-container > .movie-poster {
        margin-right: 3em;
        max-width: 150px;
        min-width: 100px;
        overflow: hidden;
        padding-bottom: 10px; }
        main .movie-list-container .movie-container > .movie-poster img {
          width: 100%;
          -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75); }
      main .movie-list-container .movie-container > .movie-info {
        width: 100%; }
        main .movie-list-container .movie-container > .movie-info > .info > p {
          margin-top: 1rem; }
        main .movie-list-container .movie-container > .movie-info > .info > .badge-container {
          margin-bottom: 0.5rem; }
          main .movie-list-container .movie-container > .movie-info > .info > .badge-container h2, main .movie-list-container .movie-container > .movie-info > .info > .badge-container h6 {
            display: inline-block;
            vertical-align: baseline;
            margin-top: 5px;
            display: inline-block; }
        main .movie-list-container .movie-container > .movie-info > .info > .button-container {
          margin-top: 1em; }
      main .movie-list-container .movie-container:hover {
        background: #f8f9fc; }

.single-movie-container {
  color: #f8f9fc;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh; }
  .single-movie-container > .head {
    max-width: 400px; }
  .single-movie-container .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*filter: brightness(30%);*/
    z-index: -999;
    height: 100%; }
    .single-movie-container .img-container .gradient {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 50%;
      background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, black 100%);
      opacity: 0.4;
      z-index: -998; }
    .single-movie-container .img-container img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }

.single-movie-container {
  height: 100%;
  color: #121212;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 999; }
  .single-movie-container section.container {
    margin-top: 10rem;
    max-width: 1080px;
    width: 100%;
    z-index: 999;
    padding: 5rem 3rem 2rem 3rem;
    background: white;
    z-index: 1;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5); }
    .single-movie-container section.container > .head {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 3;
      align-items: flex-start;
      padding-bottom: 3rem;
      width: 100%;
      border-bottom: 1px solid lightgrey; }
      .single-movie-container section.container > .head .info {
        padding-top: 1rem;
        max-width: 600px;
        flex-grow: 1; }
        .single-movie-container section.container > .head .info .title {
          margin-bottom: 1rem;
          font-size: 1.4rem; }
          .single-movie-container section.container > .head .info .title h1 {
            vertical-align: middle;
            margin-right: 1rem; }
            .single-movie-container section.container > .head .info .title h1 .badge {
              vertical-align: middle; }
          .single-movie-container section.container > .head .info .title .trivia {
            opacity: 0.6; }
            .single-movie-container section.container > .head .info .title .trivia ul {
              font-size: 0.8rem;
              font-weight: 700;
              display: inline-block; }
              .single-movie-container section.container > .head .info .title .trivia ul:not(:last-child) {
                padding-right: 0.8rem;
                margin-right: 1rem; }
              .single-movie-container section.container > .head .info .title .trivia ul li {
                font-size: 0.9rem;
                display: inline-block; }
                .single-movie-container section.container > .head .info .title .trivia ul li:not(:last-child) {
                  padding-right: 0.5rem; }
        .single-movie-container section.container > .head .info .button-block {
          margin-top: 2rem; }
          .single-movie-container section.container > .head .info .button-block li {
            display: inline-block;
            margin-right: 1rem; }
        .single-movie-container section.container > .head .info .ratings {
          margin-top: 1rem;
          font-size: 2rem; }
          .single-movie-container section.container > .head .info .ratings i {
            color: goldenrod; }
          .single-movie-container section.container > .head .info .ratings .totalvotes {
            font-size: 1.2rem;
            opacity: 0.7; }
      .single-movie-container section.container > .head .poster {
        /*margin-top: -7rem;*/
        width: 300px;
        margin-right: 5rem;
        z-index: 3; }
        .single-movie-container section.container > .head .poster img {
          width: 100%;
          -webkit-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75); }
    .single-movie-container section.container nav.page-nav {
      background: lightgrey;
      border-radius: 0.25rem 0.25rem 0 0;
      width: 100%; }
      .single-movie-container section.container nav.page-nav ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .single-movie-container section.container nav.page-nav ul li {
          flex-grow: 1; }
          .single-movie-container section.container nav.page-nav ul li a {
            color: inherit;
            width: 100%;
            padding: 1rem 0;
            display: block;
            text-align: center;
            text-decoration: none; }
  .single-movie-container .recommended {
    padding: 2rem; }
    .single-movie-container .recommended .movie-sm {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      border-radius: 3px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
      background: #f8f9fc;
      transition: 0.5s; }
      .single-movie-container .recommended .movie-sm:active {
        transition: 0.5s;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16); }
      .single-movie-container .recommended .movie-sm:not(:last-child) {
        margin-bottom: 1rem; }
      .single-movie-container .recommended .movie-sm > .poster {
        width: 25%; }
        .single-movie-container .recommended .movie-sm > .poster img {
          width: 100%; }
      .single-movie-container .recommended .movie-sm > .info {
        width: 75%;
        margin-left: 5rem; }
        .single-movie-container .recommended .movie-sm > .info h1 {
          margin-bottom: 0.5rem; }
        .single-movie-container .recommended .movie-sm > .info p {
          font-size: 1rem;
          margin-bottom: 1rem; }
  .single-movie-container .hero-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(70%);
    z-index: 1;
    /*max-height: 35vh;*/
    height: 100%;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55); }
    .single-movie-container .hero-container .gradient {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 75%;
      background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, black 100%);
      opacity: 1;
      z-index: 2; }
    .single-movie-container .hero-container img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }

@media screen and (max-width: 768px) {
  .single-movie-container section.container .head .poster {
    min-width: 250px; } }
@media screen and (max-width: 375px) {
  nav.navbar {
    display: none; }

  main .movie-hero {
    height: initial;
    padding: 2rem 0; }
    main .movie-hero .movie-hero-content {
      flex-direction: column-reverse;
      width: 100%;
      min-width: initial; }
      main .movie-hero .movie-hero-content .movie-hero-poster {
        margin-bottom: 1rem;
        max-width: 200px; }
      main .movie-hero .movie-hero-content .text-body {
        width: 100%; }
        main .movie-hero .movie-hero-content .text-body p {
          display: none; }
        main .movie-hero .movie-hero-content .text-body .button-container {
          margin-top: 1rem; }

  main .movie-list-container .movie-container {
    flex-direction: column; }
    main .movie-list-container .movie-container .movie-info .button-container {
      margin-top: 1rem; }
      main .movie-list-container .movie-container .movie-info .button-container .btn {
        width: 100%;
        text-align: center; }
    main .movie-list-container .movie-container .movie-info p {
      margin-top: 0.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    main .movie-list-container .movie-container .movie-poster {
      width: 100%;
      margin: 0;
      max-width: initial; }

  .single-movie-container .hero-container {
    margin-bottom: 1rem; }
  .single-movie-container section.container .head {
    flex-direction: column;
    align-items: center; }
    .single-movie-container section.container .head .info .title h1 {
      margin: 0; }
    .single-movie-container section.container .head .poster {
      max-width: 40%;
      margin: -10rem 0 2rem 0; } }

/*# sourceMappingURL=style.css.map */
