@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,700&display=swap');

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

html, * {
    color:#313131;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', "Open Sans", Tahoma, Geneva, Verdana, sans-serif;
}

p, pre {
    line-height: 1.6rem;
    font-weight: 400;
}

i:before {
    vertical-align:middle;
}

a {
    text-decoration:none;
    color:inherit;
    cursor:pointer;

    &:hover {
        text-decoration:underline;
    }
}

.row {
    display:flex;
    margin-bottom:1rem;

    > * {
        flex-grow:1;
    }
}

.dropdown-inline {
    display: inline-block;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;

    .dropdown-menu {
        .dropdown-item {
            display: block;
        }
    }
}

.pagination {
    display:flex;
    flex-direction:row;
    justify-content:center;

    .pagination-item {
        padding:0.5rem 1rem;
        border:1px solid lightgrey;
        text-decoration:none;
        color:black;

        &:not(:last-child) {
            margin-right:-1px;
        }

        &:hover {
            background:lightgrey;
        }

        &:first-child {
            border-radius:3px 0 0 3px;
        }

        &:last-child {
            border-radius:0 3px 3px 0;
        }

        &.disabled {
            cursor:default;

            &:hover {
                background:none;
            }
        }
    }
}

.disabled {
    opacity:0.7;
    cursor:pointer;
}

body {
    font-size: 18px;
    margin-bottom:5rem;
}

.errormsg {
    opacity: 0.7;
}

.hidden {
    display:none;
}

.loading {
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    display:none;
    transition:ease-in 1s;
    opacity:1;
}

.container {
    padding: 3rem 2rem;
    width: 1000px;
    min-height:100vh;
    margin: 0 auto;
    background: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

form {
    .input-container {
        position: relative;
        display: inline-block;
        margin: 0;
        width: 100%;

        i, input {
            display: inline-block;
        }

        i {
            margin-left: -4px;
            /*padding: 0.8rem;*/
            position: absolute;
            left: 20px;
            color: $white-main;
            top:25%;
        }

        input {
            background: hsl(0, 0%, 10%);
            border: 0;
            padding: 0.8rem 0.8rem 0.8rem calc(2.5rem + 10px);
            border-radius: 0.25rem;
            color: $white-main;
            font-weight: 700;
            font-size: 1rem;
            width: 100%;
        }

        input, label {
            display: inline-block;
        }
    }
}

nav.submenu {
    margin-bottom:2rem;
    padding:0 5rem;
    flex-direction: row;
    text-align: left;
    border-bottom:1px solid lightgrey;
    background:#121212;

    .submenu-item {
        display:inline-block;
        color: white;
        padding: 1rem 1.5rem;
        font-size: 1rem;

        &:hover {
            background:#222;
        }
    }
}

#cookieConsent {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 1rem 2rem;
    z-index: 1100;
    border-radius: 0.25rem;
    width: max-content;
    box-shadow: 0px 3px 5px 0px rgba(212,212,212,0.59);

    .accept-policy {
        margin-left:1rem;

        &:hover {
            background: #f8f9fc;
        }
    }
}

.single-movie-container {
    color: $white-main;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

    > .head {
        max-width: 400px;
    }

    .img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /*filter: brightness(30%);*/
        z-index: -999;
        height: 100%;

        .gradient {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 50%;
            background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            opacity: 0.4;
            z-index: -998;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

.single-movie-container {
    height: 100%;
    color: $dark-main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;

    section.container {
        margin-top: 5rem;
        max-width: 1080px;
        width: 100%;
        z-index: 999;
        padding: 5rem 3rem 2rem 3rem;
        background: white;
        z-index: 1;
        border-radius: 3px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);

        > .head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 3;
            align-items: flex-start;
            padding-bottom: 3rem;
            width: 100%;

            .info {
                padding-top: 1rem;
                max-width: 600px;
                flex-grow: 1;

                .title {
                    margin-bottom: 1rem;
                    font-size: 1.4rem;

                    h1 {
                        // display:inline-block;
                        vertical-align: middle;
                        margin-right: 1rem;

                        .badge {
                            vertical-align: middle;
                        }
                    }

                    .trivia {
                        opacity: 0.6;

                        ul {
                            font-size: 0.8rem;
                            font-weight: 700;
                            display: inline-block;

                            &:not(:last-child) {
                                padding-right: 0.8rem;
                                margin-right: 1rem;
                                // border-right:2px solid rgba(255,255,255,0.5);
                            }

                            li {
                                font-size: 0.9rem;
                                display: inline-block;

                                &:not(:last-child) {
                                    padding-right: 0.5rem;
                                }
                            }
                        }
                    }
                }

                .button-block {
                    margin-top: 2rem;

                    li {
                        display: inline-block;
                        margin-right: 1rem;
                    }
                }

                .overview {
                }

                .ratings {
                    margin-top: 1rem;
                    font-size: 2rem;

                    i {
                        color: goldenrod;
                    }

                    .totalvotes {
                        font-size: 1.2rem;
                        opacity: 0.7;
                    }
                }
            }

            .poster {
                /*margin-top: -7rem;*/
                // width:30%;
                width: 300px;
                margin-right: 5rem;
                z-index: 3;

                img {
                    width: 100%;
                    -webkit-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
                }
            }
        }

        nav.page-nav {
            border-radius: 0.25rem 0.25rem 0 0;
            width: 100%;

            ul {
                width: 100%;
                list-style: none;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                li {
                    flex: 1;
                    transition: 0.5s;

                    a {
                        background: $grey-light;
                        font-weight: 600;
                        color: inherit;
                        width: 100%;
                        padding: 1rem 0;
                        display: block;
                        text-align: center;
                        text-decoration: none;
                        transition: $transition-fast;

                        &:hover {
                            background: $grey-main;
                            transition: $transition-fast;
                        }

                        &.active {
                            background: $grey-main;
                            transition: 0.5s;
                        }
                    }

                    &:first-child > a {
                        border-radius: 0.25rem 0 0 0.25rem;
                    }

                    &:last-child > a {
                        border-radius: 0 0.25rem 0.25rem 0;
                    }
                }
            }
        }
    }

    .recommended {
        padding: 2rem;

        .movie-sm {
            display: flex;
            flex-direction: row;
            padding: 2rem;
            border-radius: 3px;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
            background: $white-main;
            transition: 0.5s;

            &:active {
                transition: 0.5s;
                box-shadow: 0 3px 3px 0 rgba(0,0,0,.16);
            }

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            > .poster {
                width: 25%;

                img {
                    width: 100%;
                }
            }

            > .info {
                width: 75%;
                margin-left: 5rem;

                h1 {
                    margin-bottom: 0.5rem;
                }

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .hero-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        filter: brightness(70%);
        z-index: 1;
        /*max-height: 35vh;*/
        height: 100%;
        -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55);

        .gradient {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 75%;
            background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            opacity: 1;
            z-index: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

    @media screen and (max-width:768px) {
        .single-movie-container {
            .hero-container {
                // margin-bottom: -2rem;
            }

            section.container {
                .head {
                    .poster {
                        min-width: 250px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1080px) {
        nav.navbar {
            display: none;
        }

        main .movie-hero {
            height: initial;
            padding: 2rem 0;

            .movie-hero-content {
                flex-direction: column-reverse;
                width: 100%;
                min-width: initial;

                .movie-hero-poster {
                    margin-bottom: 1rem;
                    max-width: 200px;
                }

                .text-body {
                    width: 100%;

                    p {
                        display: none;
                    }

                    .button-container {
                        margin-top: 1rem;
                    }
                }
            }
        }

        main .movie-list-container {
            .movie-container {
                flex-direction: column;

                .movie-info {
                    .button-container {
                        margin-top: 1rem;

                        .btn {
                            width: 100%;
                            text-align: center;
                        }
                    }
                }

                .movie-info {
                    p {
                        margin-top: 0.5rem;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }

                .movie-poster {
                    width: 100%;
                    margin: 0;
                    max-width: initial;
                }
            }
        }

        .single-movie-container {
            .hero-container {
                margin-bottom: 1rem;
            }

            section.container {
                .head {
                    flex-direction: column;
                    align-items: center;

                    .info {
                        .title {
                            h1 {
                                margin: 0;
                            }
                        }
                    }

                    .poster {
                        max-width: 40%;
                        margin: -10rem 0 2rem 0;
                    }
                }
            }
        }
    }

.request-card {
    transition: 0.15s;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    background: $grey-superlight;
    -webkit-box-shadow: 0px 0px 18px 0px hsl(0, 0%, 75%);
    -moz-box-shadow: 0px 0px 18px 0px hsl(0, 0%, 75%);
    box-shadow: 0px 0px 18px 0px hsl(0, 0%, 75%);

    &:hover {
        -webkit-box-shadow: 0px 6px 18px 0px hsl(0, 0%, 75%);
        -moz-box-shadow: 0px 6px 18px 0px hsl(0, 0%, 75%);
        box-shadow: 0px 6px 18px 0px hsl(0, 0%, 75%);
    }

    .request-card-head {
        width: 100%;

        > img, a > img {
            max-height:160px;
            width: 100%;
            border-radius: 0.25rem 0.25rem 0 0;
        }
    }

    .request-card-body {
        padding: 1rem 1rem 2rem 1rem;
        flex: 1;

        .title {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
        }

        .description {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: normal;
        }
    }
}

@mixin container {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
    border-radius: 3px;
    background: white;

    &:hover {
        cursor: pointer;
        background: $white-main;
    }
}