<!DOCTYPE html>
<html lang="en">
    <partial name="_HtmlHead" />
    <body>
        <partial name="_Navbar" />
        <div class="cover-backdrop"></div>
        <main class="main">
            <partial name="_CookieConsentPartial" />
            @RenderBody()
        </main>

        <partial name="_Footer" />
        <partial name="_MobileNav" />
        <partial name="_MobileMenu" />
    </body>
</html>
