@{ 
    Layout = "~/Views/Shared/Layouts/_Base.cshtml";
}

@*<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apollo</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="~/css/main.min.css" media="all" />
    <script src="https://kit.fontawesome.com/8f9a064853.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js" defer></script>
    <script src="~/js/enhancers/navbar.js" defer></script>
</head>
<body>
    <partial name="_Navbar" />
    <main class="main">
        <partial name="_CookieConsentPartial" />*@
        <div class="container">
            @RenderBody()
        </div>
    @*</main>
    <script src="~/js/enhancers/dropdown.js"></script>
</body>
<partial name="_Footer" />
<partial name="_MobileNav" />
<partial name="_MobileMenu" />
</html>*@
