@model MediaRequest.WebUI.ViewModels.SearchResultViewModel

@if (Model != null)
{
    @foreach (var movie in Model.Movies)
    {
        <div style="border:1px solid lightgrey; padding:1em;">
            <h2>@movie.Movie.Title <span style="opacity:0.5">(@movie.Movie.Year)</span></h2>
            <p>@movie.Movie.Overview</p>

            @if(!movie.Exists)
            {
                <a class="btn btn-primary" asp-action="Request" asp-controller="Home" asp-route-tmdbid="@movie.Movie.TMDBId">Request</a>
            } else
            {
                <p class="btn btn-light">Movie Exists</p>
            }

        </div>
    }
}