@model IEnumerable<MediaRequest.Domain.Movie>

@foreach (var item in Model)
{
    <div style="border:1px solid lightgrey; padding:1em;">
        <h2>@item.Title</h2>
        <p>@item.Overview</p>

        <a class="btn btn-primary" asp-action="Request" asp-controller="Home" asp-route-id="@item.TMDBId">Request</a>
    </div>
}