@model MediaRequest.WebUI.ViewModels.MoviesMovieUserViewModel

@foreach (var item in Model.Movies)
{
    <div style="border:1px solid lightgrey; padding:1em;">
        <h2>@item.Title</h2>
        <p>@item.Overview</p>

        @*<partial name="_RequestButtonPartial", model="@Model.Model" />*@

        <a class="btn btn-primary" asp-action="Request" asp-controller="Home" asp-route-id="@item.TMDBId">Request</a>
    </div>
}