
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model MediaRequest.WebUI.Models.API_Objects.Movie

<div style="border:1px solid lightgrey; padding:1em;">
    <h2>@Model.Title</h2>
    <p>@Model.Overview</p>
</div>