.calendar-event-container {
    margin-bottom: 1rem;
    display: block;

    .calendar-event {
        display: flex;
        flex-direction: row;
        height: 25vh;
        max-height: 200px;
        padding: 1rem;
        @include container;

        > .poster-container {
            height: 100%;
            margin-right: 1rem;

            > img {
                height: 100%;
            }
        }

        > .event-movie-container {
            .event-movie-head {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 0.5rem;

                .title {
                    margin-right: 0.5rem;
                }
            }

            .description {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    &:hover {
        text-decoration: none;
    }
}
