@model MediaRequest.WebUI.ViewModels.Account.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginRoot";
}

<div class="form-container">
    <h1>Register</h1>

    <form asp-action="Login" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" />
        </div>

        <div class="form-group" style="margin:0">
            <input class="btn btn-default" type="submit" value="Login" />
        </div>
    </form>
</div>