@model MediaRequest.Domain.TMDB.Cast

<a asp-action="Actor" asp-controller="Movie" asp-route-actorslug="@Model.Slug">
    <li class="actor">
        @if (Model.PortraitPath.Contains(".jpg") || Model.PortraitPath.Contains(".png") || Model.PortraitPath.Contains(".gif"))
        {
            <img src="@Model.PortraitPath" alt="Portrait">
        }
        <div class="info">
            <div>
                <h1>@Model.Name</h1>
                <h2>@Model.Character</h2>
            </div>
        </div>
    </li>
</a>
