<div class="mobile-top-nav">
    <button class="mobile-menu-icon">
        <div id="hamburger">
            <span class="bar top-bar"></span>
            <span class="bar middle-bar"></span>
            <span class="bar bottom-bar"></span>
        </div>
        <span class="mobile-menu-text">Meny</span>
    </button>
    <span class="navbar-brand"><a asp-action="Index" asp-controller="Home">Apollo</a></span>
</div>