<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-film"></i> Apollo</a>
        </div>
        <div class="nav-item-container">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="Index" asp-controller="Search">Search</a></li>
                <li><a asp-action="Requests" asp-controller="User">Profile</a></li>
                @if (this.User.IsInRole("admin"))
                {
                    <li class="nav-dropdown"><a asp-action="AdminPanel" asp-controller="Admin">Admin</a>
                        <div class="submenu">
                            <a class="submenu-item" asp-action="Requests" asp-controller="Admin">Requests</a>
                            <a class="submenu-item" asp-action="UserManager" asp-controller="Admin">Users</a>
                            <a class="submenu-item" asp-action="Settings" asp-controller="Admin">Settings</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>