<nav>
    <div class="nav-container">
        <div class="nav-brand">
            <span><i class="fas fa-film"></i> Requestrr</span>
        </div>
        <div class="nav-item-container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Admin Panel</a></li>
            </ul>
        </div>
    </div>
</nav>