<nav class="navbar">
    <div class="nav-container">
        <div class="nav-brand">
            <a asp-action="Index" asp-controller="Home"><i class="fas fa-film"></i> Requestr</a>
        </div>
        <div class="nav-item-container">
            <ul>
                <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a asp-action="Search" asp-controller="Home">Search</a></li>
                @if (this.User.IsInRole("admin"))
                {
                    <li><a asp-action="AdminPanel" asp-controller="Admin">Admin Panel</a></li>
                    <li><a asp-action="Requests" asp-controller="Admin">Requests</a></li>
                    <li><a asp-action="UserManager" asp-controller="Admin">Users</a></li>
                }
            </ul>
        </div>
    </div>
</nav>