@using Microsoft.AspNetCore.Identity;
@using MediaRequest.WebUI.Models.IdentityModels

@model MediaRequest.WebUI.ViewModels.MovieUserViewModel
@inject UserManager<IdentityUser> userManager;

<form asp-action="Request" asp-controller="Admin" method="post">
    <input value="@userManager" hidden />
    <input value="@Model.Movie.TMDBId" hidden />
</form>