@model MediaRequest.Domain.API_Responses.Radarr.v3.Movie

<div class="request-card">
    <a asp-action="Show" asp-controller="Movie" asp-route-slug="@Model.Slug">
        <div class="request-card-head">
            <img src="@Model.FanartUrl" />
        </div>
        <div class="request-card-body">
            <h2 class="title">@Model.Title</h2>
            <p class="description">@Model.Overview</p>
        </div>
    </a>
</div>