<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apollo</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="~/css/main.css" media="all" />
    @*<script src="https://kit.fontawesome.com/8f9a064853.js"></script>*@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/site.js" defer></script>
</head>
<body>
    <partial name="_Navbar" />
    <main class="main">
        <partial name="_CookieConsentPartial" />
        @RenderBody()
    </main>

    @*<script>
        $(document).ready(function () {
            let navheight = $('nav.navbar').outerHeight();
            let mobileNavHeight = $('.mobile-top-nav').outerHeight();

            if (navheight != 0) {
                $('main').css('margin-top', navheight);
            } else {
                $('main').css('margin-top', mobileNavHeight);
            }
            
        });
    </script>*@
    <script src="~/js/jquery.unobtrusive-ajax-edited.js"></script>
</body>
<partial name="_Footer" />
<partial name="_MobileNav" />
<partial name="_MobileMenu" />
</html>
