@model MediaRequest.WebUI.ViewModels.SearchViewModel

<div class="SearchPartialContainer">
    <form asp-action="SearchMoviesByName" asp-controller="Home" method="post" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Results" data-ajax-method="POST">
        <div class="input-container">
            <i class="fas fa-search"></i>
            <input placeholder="Search movie..." class="form-control" asp-for="@Model.Input" />
        </div>
    </form>
</div>