@import url(_bootstrap.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

$purple-main: hsl(280, 35%, 45%);
$purple-dark: hsl(280, 45%, 30%);
$purple-superlight: hsl(280, 60%, 95%);

$blue-main: hsl(187, 80%, 41%);
$blue-dark: hsl(225, 73%, 35%);
$blue-light: hsl(225, 73%, 95%);

$white-main: hsl(0, 0%, 98%);
$white-dark: hsl(0, 0%, 60%);

$dark-main: hsl(0, 0%, 4%);
$dark-light: hsl(0, 0%, 10%);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 1.2rem;
}

ul, li {
    list-style: none;
}

body {
    background:black;
    margin-right:1rem;
}

.single-movie-container {
    padding-top:10rem;
    color: $white-main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    > div:not(:last-child) {
        margin-bottom:5rem;
    }

    > .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 3;
        max-width: 80vw;
        width: 80%;
        align-items: center;
        padding: 0 1rem;
        min-width: 768px;

        .info {
            flex-grow: 2;
            max-width:600px;
            margin-right:2rem;

            .title {
                margin-bottom: 2rem;

                h1 {
                    // display:inline-block;
                    vertical-align: middle;
                    margin-right:1rem;

                    .badge {
                        vertical-align: middle;
                    }
                }

                .genres {
                    opacity: 0.6;

                    ul {
                        font-size:0.8rem;
                        font-weight:700;
                        display:inline-block;

                        &:not(:last-child) {
                            padding-right:1rem;
                            margin-right:1rem;
                            border-right:2px solid rgba(255,255,255,0.5);
                        }

                        li {
                            display: inline-block;
        
                            &:not(:last-child) {
                                padding-right:1rem;
                            }
                        }
                    }
                }  
            }

            .button-block {
                li {
                    display:inline-block;
                    margin-right:1rem;
                }
            }

            .overview {
                margin-top:1.5rem;
                color:$purple-superlight;
            }
        }

        .poster {
            max-width: 300px;

            img {
                width:100%;
                -webkit-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
            }
        }

        z-index: 999;
        max-width: 80vw;
    }

    > .body {
        background:$dark-main;
        width:80vw;
        z-index:3;
        border-top:5px solid $dark-light;

        .cast {
            flex-grow:1;
            display:block;
            padding:2rem;
            width:100%;

            h4 {
                margin-bottom: 1rem;
                color:$white-dark;
            }

            img {
                margin-right:1rem;
                vertical-align: middle;
                display: inline-block;
                height:60px;
                width:60px;
                border-radius: 50%;
                object-position: center;
                object-fit: cover;
            }

            img, p {
                display:inline-block;
                vertical-align: middle;
            }

            .starring {
                > .actor {
                    display:flex;
                    align-items: center;
                    width:100%;
                    padding:0.5rem;

                    &:hover {
                        background:$dark-light;
                        border-radius: 0.25rem;
                    }

                    .actor-name {
                        width:50%;
                    }

                    div.actor-role {
                        width:50%;
                        color:$white-dark;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .col-2 {
                width:100%;
                display:flex;
                flex-direction: row;
                justify-content: space-between;

                .cast-director {
                    width:50%;

                    .crew {
                        padding:0.5rem;

                        &:hover {
                            background:$dark-light;
                            border-radius: 0.25rem;
                        }

                        p {
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                }
            }

            > h1 {
                margin-bottom:1rem;
            }

            ul {
                margin-top:1rem;
                display:flex;
                flex-direction:row;
                
                .actor {
                    // max-width:138px;
                    flex-grow:1;
                    display:flex;
                    flex-direction: column;
                    align-items: center;

                    &:not(:last-child) {
                        margin-right:1rem;
                    }

                    img {
                        max-height:138px;
                        max-width:138px;
                        width:100%;
                        height:auto;
                        margin-bottom: 0.6rem;
                        border-radius: 50%;
                        object-position: center;
                        object-fit: cover;
                    }
    
                    > .info {
                        width:100%;
                        text-align:left;
                        font-weight:400;
                        font-size:0.6rem;
                    }
                }
            }
        }

        .body-nav {
            background:$purple-main;
            display:flex;
            flex-direction: row;
            flex-wrap:nowrap;
            justify-content: space-around;
            
            li {
                flex-grow:1;
                text-align: center;

                &:hover {
                    background:$purple-superlight;
                    transition: 1s;
                }

                a {
                    font-weight:700;
                    text-decoration: none;
                    color:$purple-superlight;
                    padding:1rem 2rem;
                    display: block;

                    i {
                        margin-right:0.5rem;
                    }
                }
                
                &:not(:last-child) {
                    margin-right:1rem;
                }
            }
        }

        // .body-content {        
        //     display:flex;
        //     flex-direction: row;
        //     justify-content: space-between;
        //     align-items: flex-start;

        //     .details {
        //         flex-grow:5;
        //     }
    
            
        // }
    }

    .img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        filter: brightness(30%);
        z-index: 1;
        height:100%;

        .gradient {
            position: absolute;
            left: 0;
            width: 100%;
            bottom: 0;
            height: 75%;
            background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,0,0,1) 100%);
            opacity: 1;
            z-index: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:768px) {
    .single-movie-container {
        .head {
            flex-direction: column-reverse;
            width:100%;
            min-width:375px;
    
            .info {
                margin:0;
    
                .button-block {
    
                    ul {
                        display:flex;
                        flex-direction: row;
                        justify-content: space-around;
    
                        li {
                            margin:0;
        
                            a {
                                font-size:0.8rem;
                            }
                        }
                    }
                }
            }
    
            .poster {
                margin-bottom:2rem;
            }
        }
    
        >.body {
            width:100%;
        }
    }
    

    .single-movie-container {
        padding:2rem 1rem 0 1rem;
    }
}