@import url(_bootstrap.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif; }

p {
  line-height: 1.2rem; }

ul, li {
  list-style: none; }

body {
  background: black;
  margin-right: 1rem; }

.single-movie-container {
  padding-top: 10rem;
  color: #fafafa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .single-movie-container > div:not(:last-child) {
    margin-bottom: 5rem; }
  .single-movie-container > .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
    max-width: 80vw;
    width: 80%;
    align-items: center;
    padding: 0 1rem;
    min-width: 768px;
    z-index: 999;
    max-width: 80vw; }
    .single-movie-container > .head .info {
      flex-grow: 2;
      max-width: 600px;
      margin-right: 2rem; }
      .single-movie-container > .head .info .title {
        margin-bottom: 2rem; }
        .single-movie-container > .head .info .title h1 {
          vertical-align: middle;
          margin-right: 1rem; }
          .single-movie-container > .head .info .title h1 .badge {
            vertical-align: middle; }
        .single-movie-container > .head .info .title .genres {
          opacity: 0.6; }
          .single-movie-container > .head .info .title .genres ul {
            font-size: 0.8rem;
            font-weight: 700;
            display: inline-block; }
            .single-movie-container > .head .info .title .genres ul:not(:last-child) {
              padding-right: 1rem;
              margin-right: 1rem;
              border-right: 2px solid rgba(255, 255, 255, 0.5); }
            .single-movie-container > .head .info .title .genres ul li {
              display: inline-block; }
              .single-movie-container > .head .info .title .genres ul li:not(:last-child) {
                padding-right: 1rem; }
      .single-movie-container > .head .info .button-block li {
        display: inline-block;
        margin-right: 1rem; }
      .single-movie-container > .head .info .overview {
        margin-top: 1.5rem;
        color: #f5ebfa; }
    .single-movie-container > .head .poster {
      max-width: 300px; }
      .single-movie-container > .head .poster img {
        width: 100%;
        -webkit-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75); }
  .single-movie-container > .body {
    background: #0a0a0a;
    width: 80vw;
    z-index: 3;
    border-top: 5px solid #1a1a1a; }
    .single-movie-container > .body .cast {
      flex-grow: 1;
      display: block;
      padding: 2rem;
      width: 100%; }
      .single-movie-container > .body .cast h4 {
        margin-bottom: 1rem;
        color: #999999; }
      .single-movie-container > .body .cast img {
        margin-right: 1rem;
        vertical-align: middle;
        display: inline-block;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-position: center;
        object-fit: cover; }
      .single-movie-container > .body .cast img, .single-movie-container > .body .cast p {
        display: inline-block;
        vertical-align: middle; }
      .single-movie-container > .body .cast .starring > .actor {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.5rem; }
        .single-movie-container > .body .cast .starring > .actor:hover {
          background: #1a1a1a;
          border-radius: 0.25rem; }
        .single-movie-container > .body .cast .starring > .actor .actor-name {
          width: 50%; }
        .single-movie-container > .body .cast .starring > .actor div.actor-role {
          width: 50%;
          color: #999999;
          display: flex;
          align-items: center; }
      .single-movie-container > .body .cast .col-2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .single-movie-container > .body .cast .col-2 .cast-director {
          width: 50%; }
          .single-movie-container > .body .cast .col-2 .cast-director .crew {
            padding: 0.5rem; }
            .single-movie-container > .body .cast .col-2 .cast-director .crew:hover {
              background: #1a1a1a;
              border-radius: 0.25rem; }
            .single-movie-container > .body .cast .col-2 .cast-director .crew p {
              vertical-align: middle;
              display: inline-block; }
      .single-movie-container > .body .cast > h1 {
        margin-bottom: 1rem; }
      .single-movie-container > .body .cast ul {
        margin-top: 1rem;
        display: flex;
        flex-direction: row; }
        .single-movie-container > .body .cast ul .actor {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .single-movie-container > .body .cast ul .actor:not(:last-child) {
            margin-right: 1rem; }
          .single-movie-container > .body .cast ul .actor img {
            max-height: 138px;
            max-width: 138px;
            width: 100%;
            height: auto;
            margin-bottom: 0.6rem;
            border-radius: 50%;
            object-position: center;
            object-fit: cover; }
          .single-movie-container > .body .cast ul .actor > .info {
            width: 100%;
            text-align: left;
            font-weight: 400;
            font-size: 0.6rem; }
    .single-movie-container > .body .body-nav {
      background: #804b9b;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around; }
      .single-movie-container > .body .body-nav li {
        flex-grow: 1;
        text-align: center; }
        .single-movie-container > .body .body-nav li:hover {
          background: #f5ebfa;
          transition: 1s; }
        .single-movie-container > .body .body-nav li a {
          font-weight: 700;
          text-decoration: none;
          color: #f5ebfa;
          padding: 1rem 2rem;
          display: block; }
          .single-movie-container > .body .body-nav li a i {
            margin-right: 0.5rem; }
        .single-movie-container > .body .body-nav li:not(:last-child) {
          margin-right: 1rem; }
  .single-movie-container .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    filter: brightness(30%);
    z-index: 1;
    height: 100%; }
    .single-movie-container .img-container .gradient {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 75%;
      background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, black 100%);
      background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, black 100%);
      opacity: 1;
      z-index: 2; }
    .single-movie-container .img-container img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }

@media screen and (max-width: 768px) {
  .single-movie-container .head {
    flex-direction: column-reverse;
    width: 100%;
    min-width: 375px; }
    .single-movie-container .head .info {
      margin: 0; }
      .single-movie-container .head .info .button-block ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; }
        .single-movie-container .head .info .button-block ul li {
          margin: 0; }
          .single-movie-container .head .info .button-block ul li a {
            font-size: 0.8rem; }
    .single-movie-container .head .poster {
      margin-bottom: 2rem; }
  .single-movie-container > .body {
    width: 100%; }

  .single-movie-container {
    padding: 2rem 1rem 0 1rem; } }

/*# sourceMappingURL=singlemovie.2.css.map */
