@model MediaRequest.Domain.API_Responses.Recommendations

<section class="align-center recommended">
    @if (Model.Results.Any())
    {
        foreach (var item in Model.Results)
        {
            <partial name="_RecommendedMoviePartial" model="@item" />
        }
    } else
    {
        <h2 class="w-100">No recommendations found</h2>
    }
</section>