@model MediaRequest.Domain.Radarr.Movie

<div class="single-movie-container">
    <div class="head">
        <h1>@Model.Title</h1>
        <p>@Model.Overview</p>
    </div>
    <div class="img-container">
        <div class="gradient"></div>
        <img class="background" src="~/img/backdrop.jpg" />
    </div>
</div>