@model List<MediaRequest.WebUI.ViewModels.MovieUserRequestViewModel>

AdminPanel

@foreach (var request in Model)
{
    <div style="border:1px solid lightgrey;padding:1em;">
        <h1>@request.Movie.Title</h1>
        <h3 style="opacity:0.7">@request.User.UserName</h3>
    </div>
}