@model List<MediaRequest.WebUI.ViewModels.DistinctMovieUserRequestViewModel>

<div class="container">
    <h1>Active requests</h1>

    <h2>Pending</h2>
    <div class="request-container">
        @foreach (var request in Model.Where(x => x.Status == false))
        {
            <partial name="_RequestPartial" model="request" />
        }
    </div>

    <h2>Approved</h2>
    <div class="request-container">
        @foreach (var request in Model.Where(x => x.Status == true))
        {
            <partial name="_RequestPartial" model="request" />
        }
    </div>
</div>