
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>
<form asp-action="Settings" asp-controller="Admin" method="post">
    <div class="form-group">
        <label>Base adress</label>
        <input />
    </div>
</form>