@model MediaRequest.WebUI.ViewModels.Profile.ProfileViewModel

@{
    if (TempData["success"] != null)
    {
        var msg = TempData["success"].ToString();
        <span class="alert">@msg</span>
    }

    if (TempData["error"] != null)
    {
        var msg = TempData["error"].ToString();
        <span class="alert">@msg</span>
    }
}

<div class="profile-container h-100">
    <partial name="partials/_verticalNav" />
    <div class="container h-100">
        <div class="profile-body">
            <h2 class="pb-1">User info</h2>
            <partial name="partials/_UserInfoPartial" model="Model.User" />

            <h1>TO ADD:</h1>
            <p>Latest user request</p>
            <p>Nearest upcoming</p>
        </div>
    </div>
</div>

<script>
    $('.avatar').on('click', function () {
        $('.filebtn').click();
    })

    $('.filebtn').on('change', function () {
        $('.filesubmit').click();
    });
</script>