@model MediaRequest.WebUI.ViewModels.Profile.ProfileViewModel

@{
    if (TempData["success"] != null)
    {
        var msg = TempData["success"].ToString();
        <span class="alert">@msg</span>
    }

    if (TempData["error"] != null)
    {
        var msg = TempData["error"].ToString();
        <span class="alert">@msg</span>
    }
}

<div class="profile-container h-100">
    <partial name="_verticalNav" />
    <div class="container h-100">
        @*<div class="profile-head">
            @if (Model.User.Avatar != null)
            {
                <div class="avatar">
                    <div class="avatar-background"></div>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.User.Avatar)" />
                    <i class="fas fa-camera"></i>
                </div>
            }
            else
            {

                <div class="avatar">
                    <div class="avatar-background"></div>
                    <img src="http://all4ed.org/wp-content/themes/all4ed/assets/images/avatar-placeholder-generic.png" />
                    <i class="fas fa-camera"></i>
                </div>
            }
            <h1>@Model.User.UserName</h1>
            <form hidden enctype="multipart/form-data" asp-controller="User" asp-action="UploadAvatar" method="post">
                <label asp-for="@Model.User.Avatar">Avatar</label>
                <input class="filebtn" type="file" name="image" />
                <input class="filesubmit" type="submit" value="Upload" />
            </form>*@
        @*</div>*@
        <div class="profile-body">
            <div class="row">
                <h2>Requests</h2>
            </div>

            <partial name="_userRequests" model="Model.Requests" />

            <h2 class="pb-2">User info</h2>
            <div class="row">
                <partial name="_UserInfoPartial" model="Model.User" />
            </div>

            <div class="row pb-2 mb-0 underline">
                <div class="form-section align-right">
                    <a id="password" class="btn-sm btn-primary" type="submit" asp-action="UpdatePassword" asp-controller="User"><span class="icon icon-key"><img src="~/img/key-solid.svg" /></span> Change password</a>
                    <input class="btn-sm btn-default" type="submit" value="Save" />
                </div>
            </div>


        </div>
    </div>
</div>

<script>
    $('.avatar').on('click', function () {
        $('.filebtn').click();
    })

    $('.filebtn').on('change', function () {
        $('.filesubmit').click();
    });
</script>