@model List<MediaRequest.WebUI.ViewModels.Profile.RequestViewModel>

<div class="profile-container h-100">
    <partial name="partials/_verticalNav" />
    <div class="container">
        <div class="profile-body">
            <h2 class="pb-1">Requests</h2>
            <partial name="partials/_userRequests" model="Model" />
        </div>
    </div>
</div>