.actor-container {
    display: flex;
    flex-direction: column;

    .actor-name {
        margin-bottom: 2rem;
    }

    .actor-head {
        margin-bottom:5rem;

        > img {
            width: 30%;
            vertical-align: top;
            box-shadow: 0px 14px 10px -5px rgba(0, 0, 0, 0.75);
        }

        > .actor-info {
            display: inline-block;
            width: 69%;
            vertical-align: top;
            padding: 0 2rem;
            margin-left: -4px;

            > pre {
                white-space: pre-wrap; /* css-3 */
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: normal; /* Internet Explorer 5.5+ */
            }
        }
    }
}
