main {
    min-height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .movie-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        overflow: hidden;
        position: relative;
        height: 65vh;
        top: 0;
        left: 0;
        -webkit-box-shadow: 0px 37px 29px -29px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 37px 29px -29px rgba(0,0,0,0.47);
        box-shadow: 0px 37px 29px -29px rgba(0,0,0,0.47);

        .movie-hero-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 25vh;
            left: 15vw;
            z-index: 3;
            align-items: center;
            padding: 0 1rem;
            max-width: 992px;
            width: 100%;

            > .movie-hero-poster {
                max-width: 300px;

                img {
                    width: 100%;
                    -webkit-box-shadow: 0px 14px 10px -5px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 14px 10px -5px rgba(0,0,0,0.75);
                    box-shadow: 0px 14px 10px -5px rgba(0,0,0,0.75);
                }
            }

            > .text-body {
                max-width: 400px;

                h2, p {
                    color: hsl(218, 43%, 98%)
                }

                p {
                    font-size: 1.1rem;
                    color: hsl(218, 43%, 90%)
                }

                h3 {
                    color: hsl(218, 43%, 80%)
                }

                .button-container {
                    margin-top: 2em;
                }
            }
        }

        > .gradient {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0.7;
            z-index: 2;
        }

        > .background {
            background: #222;
            filter: brightness(30%);
            position: absolute;
            width: 100%;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    .container {
        .movie-list-header {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            > * {
                display: inline-block;
            }

            > h1 {
                flex-grow: 1;
            }

            > form {
                flex-grow: 2;
            }
        }

        .movie-list-filter {
            text-align: right;

            ul {
                list-style: none;

                li {
                    display: inline-block;
                }
            }
        }

        .movie-container {
            padding: 1.5em;
            display: flex;
            flex-direction: row;
            max-width: 1000px;
            width: 100%;
            background: white;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
            margin-bottom: 1.5em;
            border-radius: 3px;

            > .movie-poster {
                margin-right: 3em;
                max-width: 150px;
                min-width: 100px;
                overflow: hidden;
                padding-bottom: 10px;

                img {
                    width: 100%;
                    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                }
            }

            > .movie-info {
                width: 100%;

                > .info {
                    > p {
                        margin-top: 1rem;
                    }

                    > .badge-container {
                        margin-bottom: 0.5rem;

                        h2, h6 {
                            display: inline-block;
                            vertical-align: baseline;
                            margin-top: 5px;
                            display: inline-block;
                        }
                    }

                    > .button-container {
                        margin-top: 1em;
                    }
                }
            }

            &:hover {
                background: hsl(218, 43%, 98%)
            }
        }
    }
}

.SearchPartialContainer {
    display: flex;
    align-items: center;
    padding: 0rem 2rem;
    flex-grow: 10 !important;

    form {
        width: 100%;
        display:flex;
        flex-direction:row;

        > input[type="submit"] {
            margin-left:1rem;
        }
    }
}

@media screen and (max-width:9928px) {
    .movie-hero {
        height:auto;

        .movie-hero-content {
            flex-direction:column-reverse;
            min-width:initial;
            width:100%;

            .movie-hero-content {
                max-width:none;
            }

            .text-body {
                h1, h3 {
                    text-align:center;
                }

                .button-container {
                    margin-top:1rem;
                    display:flex;
                    justify-content:center;

                    .btn {
                        max-width:200px;
                        width:100%;
                        text-align:center;
                    }
                }
            }
        }
    }

    main {
        .container {
            width: 100%;
            min-width: unset;
            padding: 3rem 2rem;

            .movie-list-header {
                flex-direction: column-reverse;
                margin: 0;

                h1 {
                    width: 100%;
                }

                form {
                    margin-bottom: 1rem;
                    width: 100%;
                }
            }
        }

        .movie-list-container {
            margin-top: 1rem;

            .movie-container {
                max-width: 300px;
                margin: 0 auto;
                background: $grey-superlight;
                padding: 1rem 0.5rem;

                .movie-info {
                    .button-container {
                        .btn, .btn-sm {
                            width: 100%;

                            span {
                                text-align: center;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom:1rem;

                    @media (min-width:768px) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
}